### fonts ###
**/*.ttf
**/*.otf


### llms ###
AGENTS.md


### macos ###
.DS_Store


### neovim ###
*.tmp
*.swp
*.swo


### rust ###
target


### workspaces ###
.crush
.cursor
.editorconfig
.idea
.ignore
.vscode
